@model bloodyvalentinee.Models.Data.InsGeneral

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Informacion medica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentarioMc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioMc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoReal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoReal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoIdeal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoIdeal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrecuenciaCardiaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrecuenciaCardiaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrecuenciaRespiratoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrecuenciaRespiratoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentarioIg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioIg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentarioD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioD)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdIgeneral">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
